* {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: "playlistScript";
  src: url(../assets/fuentes/playlistScript.otf), url(assets/fuentes/playlistScript.ttf); }
h4 {
  color: transparent; }

#inicio {
  display: none; }

.home {
  width: 100%;
  height: auto; }
  .home nav {
    width: 100%;
    height: 10vh;
    background-color: #000000;
    position: fixed;
    z-index: 5; }
    .home nav ul li {
      height: 10vh;
      padding-top: 3vh;
      padding-left: 25px;
      padding-right: 25px;
      display: inline-block; }
      .home nav ul li a {
        color: #ffffff;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        cursor: pointer; }
    .home nav ul li:hover {
      background-color: #FF008D;
      border-radius: 3px;
      -webkit-transition: background-color 0.5s ease-out;
      -moz-transition: background-color 0.5s ease-out;
      -o-transition: background-color 0.5s ease-out;
      transition: background-color 0.5s ease-out; }

.portInicio {
  padding: 10vh;
  overflow: hidden; }
  .portInicio .videoIso {
    padding-top: 10vh; }
  .portInicio .textoInicio h1 {
    font-family: playlistScript;
    font-size: 150px; }
  .portInicio .textoInicio p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    letter-spacing: 5px; }

.portSobreMi {
  padding: 10vh;
  overflow: hidden;
  background-color: #000000; }
  .portSobreMi .row .aboutText h2 {
    color: #FF008D;
    font-family: playlistScript;
    font-size: 60px;
    padding-bottom: 20px;
    text-align: right; }
  .portSobreMi .row .aboutText p {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: right; }

.portWeb {
  padding: 10vh;
  overflow: hidden; }
  .portWeb .webTitulo h2 {
    color: #FF008D;
    font-family: playlistScript;
    font-size: 60px;
    padding-bottom: 20px;
    text-align: right;
    padding-right: 50px; }
  .portWeb .webImagen a {
    width: 300px;
    height: 150px; }
    .portWeb .webImagen a img {
      margin: 10px;
      border-radius: 5px;
      cursor: pointer; }

.portAudiovisual {
  padding: 10vh;
  overflow: hidden;
  background-color: #000000; }
  .portAudiovisual .visualTitulo h2 {
    color: #FF008D;
    font-family: playlistScript;
    font-size: 60px;
    padding-bottom: 20px;
    text-align: left; }

.visualImg a img {
  padding-bottom: 25px;
  margin-right: 5px;
  margin-left: 5px;
  cursor: pointer; }

.modales img {
  width: 250%;
  border-radius: 10px;
  position: absolute;
  right: -212px;
  top: 86px; }
.modales video {
  width: 250%;
  border-radius: 10px;
  position: absolute;
  right: -212px;
  top: 86px; }

.portHerramientas {
  padding: 10vh;
  overflow: hidden; }
  .portHerramientas .herramientasTitulo h2 {
    color: #FF008D;
    font-family: playlistScript;
    font-size: 60px;
    padding-bottom: 20px; }
  .portHerramientas .row {
    width: 300%; }
    .portHerramientas .row .colHerramientas {
      font-size: 60px;
      color: #333333; }
      .portHerramientas .row .colHerramientas i {
        padding: 20px; }

.portContact {
  background-color: #000000;
  padding: 10vh;
  overflow: hidden; }
  .portContact .contactTitulo h2 {
    color: #FF008D;
    font-family: playlistScript;
    font-size: 60px;
    padding-bottom: 20px; }

.datosContacto ul li {
  list-style: none; }
  .datosContacto ul li a {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    cursor: pointer; }
    .datosContacto ul li a i {
      color: #FF008D;
      font-size: 30px;
      margin-top: 10px;
      padding-right: 10px;
      text-align: left; }
    .datosContacto ul li a .fa-envelope {
      font-size: 20px; }

.datosSociales ul li {
  list-style: none;
  display: inline-block; }
  .datosSociales ul li a i {
    color: #FF008D;
    font-size: 60px;
    margin: 15px;
    cursor: pointer; }
  .datosSociales ul li a i:hover {
    margin: 15px;
    background-color: #ffffff;
    border-radius: 3px;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out; }

footer {
  background-color: #333333;
  padding: 20px;
  color: #ffffff;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif; }
  footer i {
    color: #FF008D; }

/*# sourceMappingURL=main.css.map */
