.home{
	width: 100%;
	height: auto;
	nav{
		width: 100%;
		height: 10vh;
		background-color: $negro;
		position: fixed;
		z-index: 5;
		ul{
			li{
				height: 10vh;
				padding-top: 3vh;
				padding-left: 25px;
				padding-right: 25px;
				display: inline-block;
				a{
					color: $blanco;
					text-decoration: none;
					font-family: 'Montserrat', sans-serif;
					cursor: pointer;
				}
				}
			li:hover{
				background-color: $fucsia;
				border-radius:3px;
				-webkit-transition: background-color 0.5s ease-out;
  				-moz-transition: background-color 0.5s ease-out;
  				-o-transition: background-color 0.5s ease-out;
  				transition: background-color 0.5s ease-out;
			}
		}
	}
}
.portInicio{
	@include contenedor();
	.videoIso{
		padding-top:10vh;
	}
	.textoInicio{
		h1{
			font-family: playlistScript;
			font-size: 150px;
		}
		p{
			font-family: 'Montserrat', sans-serif;
			font-size: 20px;
			letter-spacing: 5px; 
		}
	}
}
.portSobreMi{
	@include contenedor();
	background-color: $negro;
	.row{
		.aboutText{
			h2{
				@include titulo();
				text-align: right;
			}
			p{
				color: $blanco;
				font-family: 'Montserrat', sans-serif;
				font-size: $texto;
				text-align: right;

			}
		}
	}
}

.portWeb{
	@include contenedor();
	.webTitulo{
		h2{
			@include titulo();
			text-align: right;
			padding-right: 50px;
		}
	}
	.webImagen{
		a{
			width:300px;
			height: 150px;
			img{
				margin:10px;
				border-radius: 5px;
				cursor:pointer;
			}
		}
	}
}


.portAudiovisual{
	@include contenedor();
	background-color: $negro;
	.visualTitulo{
		h2{
			@include titulo();
			text-align: left;
		}
	}
}
.visualImg{
	a{
		img{
			margin-right: 5px;
			margin-left: 5px;
			cursor:pointer;
		}
	}
}

.modales{
	img{
		width: 250%;
		border-radius: 10px;
		position: absolute;
		right: -212px;
		top: 86px;
	}
	video{
		width: 250%;
		border-radius: 10px;
		position: absolute;
		right: -212px;
		top: 86px;
	}
}

.portHerramientas{
	@include contenedor();
	.herramientasTitulo{
		h2{
			@include titulo();
		}
	}
	.row{
		width: 300%;
		.colHerramientas{
			font-size: 60px;
			color: $grisOscuro;
			i{
				padding:20px;
			}
		}
	}
}
.portContact{
	background-color: $negro;
	@include contenedor();
	.contactTitulo{
		h2{
		@include titulo();
		}
	}
}
.datosContacto{
	ul{
		li{
			list-style: none;
			a{
				color: $blanco;
				font-family: 'Montserrat', sans-serif;
				font-size: $texto;
				cursor: pointer;
				i{
					color: $fucsia;
					font-size: 30px;
					margin-top: 10px;
					padding-right: 10px; 
					text-align: left;
				}
				.fa-envelope{
					font-size: 20px;
				}
				}
			}
		}
	}

.datosSociales{
	ul{
		li{
			list-style: none;
			display: inline-block;
			a{
				i{
					color: $fucsia;
					font-size: 60px;
					margin: 15px;
					cursor: pointer;
				}
				i:hover{
					margin:15px;
					background-color: $blanco;
					border-radius:3px;
					-webkit-transition: background-color 0.5s ease-out;
  					-moz-transition: background-color 0.5s ease-out;
  					-o-transition: background-color 0.5s ease-out;
  					transition: background-color 0.5s ease-out;
				}
			}

		}
	}
}
footer{
	background-color: $grisOscuro;
	padding: 20px;
	color: $blanco;
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
	i{
		color: $fucsia;
	}
}
